@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
header {
  background-color: #e1cbae;
}
header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
header nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
}
header nav ul li {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  list-style: none;
  padding-top: 2.5rem;
}
header nav ul li a:hover {
  color: white;
}
header .parallax-nav {
  background-image: url("../assets/paralax.jpeg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
}
header .container-fluid .navbar-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.main-cursos #saber .cursos-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.main-cursos .saber-mas a:hover {
  color: white;
}
.main-cursos .div-saber {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.formulario {
  margin: 2rem;
  padding: 2rem;
  border: 2rem;
  border-radius: 3rem;
  background-image: linear-gradient(to bottom, rgba(48, 213, 200, 0.1), #e3e8c0);
}

.div-form-img {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.aside-class {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input, select {
  width: 85%;
  height: 2rem;
  padding: 0.3rem;
  margin: 0.5rem 2rem 0.5rem 2rem;
  border-radius: 1rem;
}

label {
  text-align: left;
  padding: 1.7rem 0.5rem 0 1.2rem;
  margin: 0.5rem 2rem 0.5rem 1rem;
}

.h2-form {
  text-align: center;
}

.btn-enviar {
  padding-left: 2rem;
  padding-right: 2rem;
  transition: all 0.5s;
}
.btn-enviar:hover {
  background-color: rgba(71, 185, 251, 0.813);
}

.img-cursos {
  width: 8rem;
  height: 10rem;
}

.p-cursos {
  text-align: center;
  padding-bottom: 1rem;
}

.saber-mas {
  width: 6rem;
  height: 2rem;
  text-align: center;
  border-radius: 3rem;
  padding-top: 2px;
  background-color: rgba(48, 213, 200, 0.1);
  transition: width 0.3s, background-color 1s;
}
.saber-mas:hover {
  width: 6.5rem;
  background-color: rgba(71, 185, 251, 0.813);
}

.h-intro {
  padding-left: 5.5rem;
  padding-bottom: 0;
}

.p-padding, .v-padding {
  padding-top: 0.5rem;
  padding-bottom: 1.5rem;
  padding-left: 5rem;
  padding-right: 5rem;
}

.h-padding {
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1.3rem;
  color: rgba(71, 185, 251, 0.813);
}

.v-padding {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.parallax-menu {
  background-image: url("../assets/parallax-menu.jpeg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 35vh;
}

.div-menu {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-left: 3rem;
  margin-right: 3rem;
  background-color: rgba(48, 213, 200, 0.1);
  border-radius: 5rem;
  box-shadow: 7px 8px 55px -20px rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 7px 8px 55px -20px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 7px 8px 55px -20px rgba(0, 0, 0, 0.7);
}

.menu-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.menu-h3 {
  text-align: center;
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
}

.menu-flex {
  padding: 1rem 3rem 1rem 3rem;
}

#main-menu {
  padding-bottom: 3rem;
}

/* contacto */
.contact-div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.contact-div .contact-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

iframe {
  padding: 3rem;
}

.img-ubi {
  width: 6rem;
  height: 8rem;
}

.img-staff {
  width: 12.5rem;
  height: 14.5rem;
  border-radius: 100%;
}

.cocina-staff {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.cocina-staff .p-staff {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.staff-padding {
  padding-top: 5rem;
  padding-bottom: 3rem;
}

a {
  text-decoration: none;
  color: black;
}

footer {
  padding-top: 0.3rem;
  background-color: #e1cbae;
}
footer .footer-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
footer nav a svg:hover {
  color: white;
}

svg {
  width: 2rem;
  height: 3rem;
}

.copyright {
  padding: 0.3rem;
  color: rgb(216, 216, 216);
  background-color: rgb(61, 61, 61);
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  font-size: 62, 5%;
}
html body {
  overflow-x: hidden;
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}
html body .flex-index {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
html body .p-index {
  padding-left: 2rem;
  padding-right: 2rem;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
html body .imagen-portada {
  width: 100%;
}
html body main {
  background-color: #e3e8c0;
  margin-top: 6rem;
  padding-bottom: 2rem;
}
html body .main-index {
  margin-top: 0;
}
html body h1 {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-size: 1.7rem;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  text-align: center;
  padding: 3rem;
}
html body p {
  text-align: left;
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}
html body .logo {
  width: 6rem;
  height: 6rem;
  padding: 0.3rem;
}
html body p, html body h2, html body img {
  padding: 2rem 1rem 2rem 1rem;
}
html body p {
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
}
html body h2 {
  font-size: 1.5rem;
  font-family: "Noto Sans";
  font-style: italic;
  font-weight: 600;
  font-stretch: 100%;
  font-display: swap;
}
html body h3 {
  font-size: 0.7rem;
  font-family: "Noto Sans", sans-serif;
}
html body article {
  font-size: 0.8rem;
}
html body .btn-wpp {
  position: fixed;
  width: 3rem;
  height: 3rem;
  bottom: 30px;
  right: 30px;
  background-color: #25D366;
  border-radius: 50%;
  padding-left: 0.5rem;
  color: white;
}
html body .btn-wpp svg:hover {
  color: black;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  html body .div-form-img {
    display: grid;
    grid-template-columns: 1fr;
  }
  html body .aside-class {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  html body .img-cursos {
    width: 7rem;
    height: 9rem;
  }
  html body .logo {
    width: 4.5rem;
    height: 4.5rem;
    padding: 0.1rem;
  }
  html body .saber-mas {
    height: 2rem;
  }
  html body .main-cursos #saber .cursos-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  html body .flex-index {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  html body .p-index {
    text-align: center;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  html body .imagen-portada {
    width: 90%;
  }
  html body .div-menu {
    grid-template-columns: 1fr;
    margin-left: 0;
    margin-right: 0;
  }
  html body .menu-flex {
    padding-bottom: 0;
  }
  html body .parallax-nav {
    display: none;
  }
  html body .nav-div {
    display: none;
  }
  html body .flex-index {
    flex-direction: column;
  }
  html body .contact-div {
    grid-template-columns: 1fr;
  }
  html body iframe {
    width: 100%;
  }
  html body .p-contacto {
    text-align: center;
  }
  html body .parallax-menu {
    background-attachment: local;
  }
  html body .navbar-toggler {
    width: 3.5rem;
    height: 2.5rem;
  }
  html body header .navbar .navbar-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  html body .aside-class {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  html body .img-cursos {
    width: 7rem;
    height: 9rem;
  }
  html body .saber-mas {
    height: 1.8rem;
  }
  html body .main-cursos #saber .cursos-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  html body .flex-index {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  html body .p-index {
    text-align: center;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  html body .imagen-portada {
    width: 70%;
  }
  html body .div-menu {
    grid-template-columns: 1fr;
    margin-left: 3rem;
    margin-right: 3rem;
  }
  html body .menu-flex {
    padding-bottom: 0;
  }
  html body header nav ul {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
  }
  html body header nav ul li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  html body ul {
    padding-bottom: 1rem;
  }
  html body .contact-div {
    grid-template-columns: 1fr;
  }
  html body iframe {
    width: 100%;
  }
  html body .p-contacto {
    text-align: center;
  }
}/*# sourceMappingURL=style.css.map */