$blanco: white;
$negro: black;
$verde: rgb(46, 141, 41);
$blanco-sucio: rgb(216, 216, 216);
$verde-wpp: #25D366;
$verde-claro: rgba(48, 213, 200, 0.1);
$gris-claro: rgb(61, 61, 61);
$rosa-pastel: #e1cbae;
$marron-pastel: #e3e8c0;
$azul-claro: rgba(71, 185, 251, 0.813);