            /* contacto */
            .contact-div{
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                .contact-flex{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }
            }
            iframe{
                padding: 3rem;
            }
            .img-ubi{
                width: 6rem;
                height: 8rem;
            }