header{
    background-color: $rosa-pastel;
    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        ul {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            width: 50%;
            @include tablet{
                width: 100%;
                padding-bottom: 1rem;
            }
            li {
                font-family: $font-1;
                font-optical-sizing: auto;
                font-weight: 500;
                font-style: normal;
                font-variation-settings:
                "wdth" 100;
                list-style: none;
                padding-top: 2.5rem;
                @include tablet{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }
                a{
                    &:hover{
                        color: $blanco;
                    }
                }
                
            }
        }
    }
    .parallax-nav{
        background-image: url("../assets/paralax.jpeg");
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        width: 100%;
        @include mobile{
            display: none;
        }
    }
    .container-fluid{
        .navbar-nav{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            width: 100%;
            @include mobile{
                flex-direction: column;
                justify-content: space-around;
            }
        }
    }
    .nav-div{
        @include mobile{
            display: none;
        }
    }
    .navbar-toggler{
        @include mobile{
            width: 3.5rem;
            height: 2.5rem;
        }
    }
    
}  